{{#if is_loading}}
  Loading Cats
{{/if}}

<ul>
  {{#each food}}
    <li style="z-index: {{zIndex}}; position: absolute; top: {{top}}; left: {{left}}" data-id={{objectId}}>{{name}}</li>
  {{/each}}
</ul>

<button class="add-cat">Add A Cat</button>
