<ul>
  {{#each food}}
    <li class='food-item' style="z-index: {{zIndex}}; position: absolute; top: {{top}}; left: {{left}}" data-id={{objectId}}>{{name}}</li>
  {{/each}}
</ul>
<div>
<button class="btn btn-success" id="btn-healthy">Healthy</button>
<button class="btn btn-danger" id="btn-not-healthy">Not</button>
</div>
<a href="#" class="logout">Logout</a>
