<ul>
  {{#each food}}
    <li style="z-index: {{zIndex}}; position: absolute; top: {{top}}; left: {{left}}" data-id={{objectId}}>{{name}}</li>
  {{/each}}
</ul>
<div>
<button class="btn btn-success">Healthy</button>
<button class="btn btn-danger">Not</button>
</div>