<ul>
  {{#each food}}
    <li style="z-index: {{zIndex}}; position: absolute; top: {{top}}; left: {{left}}" data-id={{objectId}}>{{name}}</li>
  {{/each}}
</ul>
<button class="add-food">Add A Food</button>
